<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
    <h1>User name and password</h1>
    {{#each users }}
    <h4>{{this.username}}</h4>
    <h4>{{this.password}}</h4>
    {{/each}}
  </body>
</html>